<h1>Thanks for signing up!</h1>
<h4>Let's try out those new creds<h4>
<p><a href="/" class="btn btn-primary">Back to <strong>sign in</strong> page</a></p>
<% @client.messages.create(
        from: @from, 
        to: @to,
        body: "New user alert"
    ) %>