html,
body,
header,
.view {
  height: 100%;
}

h1{
    font-family: Verdana;
    color: rgb(37, 26, 114);
    font-weight: 1000;
}


.dark {
    font-weight: 1000;
    color: rgb(37, 26, 114);
}

.small {
    font-weight: 20;
}

.white {
    font-weight: 1000;
    color: white;
}
