h1 {    
    color:darkslateblue;
    font-family: Arial;
    border: 0px;
}
h2 {
    color:black;
    font-family: Arial;
    border: 0px;
    text-align: center;
}
h3 {
    color:darkslateblue;
    font-family: Arial;
    border: 0px;
    }
h4 {
    color: darkslateblue;
    outline: black;
    font-family: Arial;
}
#log_in {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}
p {
    color: darkslateblue;
    font-family: Arial;
}
img {
  width: 100%;
  height: auto;
}